.ButtonUp {
    background-color: white;
    border:none;
    font-size: 22px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 1110;
    position:fixed;
    right:60px;
    bottom:25px;
    color: rgb(51, 68, 57);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ButtonUp:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.12);
    background-color: rgb(67, 90, 76);
    color:white;
}

.ButtonUp:active {
 box-shadow: 0px 0px 20px 10px #75db9c, 0px 0px 5px 5px rgb(255, 255, 255),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}