.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 50px 0px 50px ;
}

h1 {
    color: rgb(238, 173, 113);
    background-color:  rgb(21, 27, 23);
    line-height: 2;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 10px;
    margin-top: 0;
}
h2 {
    color: rgb(255, 255, 255);
         background-image: repeating-linear-gradient(
    -45deg,
    #747272,
    #747272 10px,
    rgb(67, 90, 76) 10px,
    rgb(67, 90, 76) 20px
    );
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-left: 10px;
    line-height: 1.5;
    min-height: 88px;
}

nav{
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
}

nav>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
      background-image: linear-gradient(
    to bottom,
    rgb(51, 68, 57),
     rgb(21, 27, 23));
    line-height: 2;
    font-size: 20px;
    margin-bottom: 0;
    padding: 0;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

nav>ul>li {
    margin-right: 30px;  
}

a {
    text-decoration: none;
    color: rgb(156, 156, 156);
}

 a:hover {
color: #75db9c;
}


 a:active {
color: rgb(238, 173, 113);
}