/*
 * Стили компонента App
 */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}


.container {
  margin: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* @media screen and (min-width: 320px) {
	.container {
	padding-left: 20px;
    padding-right: 20px;
	}
}

@media screen and (min-width: 768px) {
	.container {
	padding-left: 20px;
    padding-right: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
    padding-left: 20px;
    padding-right: 20px;
	}
} */